# Project Name: Vaccination Analysis

##### **Project Type**    - Data Analysis
##### **Contribution**    - Individual
##### **Member       - Puneeth Sai Satvik**

### Project Summary

### GitHub Link

### Data Cleaning

In [60]:
# Essential Imports
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [3]:
# Loading the data
coverage_df = pd.read_excel('coverage-data.xlsx')
incidence_rate_df = pd.read_excel('incidence-rate-data.xlsx')
reported_cases_df = pd.read_excel('reported-cases-data.xlsx')
vaccine_introduction_df = pd.read_excel('vaccine-introduction-data.xlsx')
vaccine_schedule_df = pd.read_excel('vaccine-schedule-data.xlsx')

#### Dataset First View

In [4]:
coverage_df.head()

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,ADMIN,Administrative coverage,NaN,NaN,NaN
1,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,OFFICIAL,Official coverage,NaN,NaN,NaN
2,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",ADMIN,Administrative coverage,1044.0,945.0,90.52
3,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",OFFICIAL,Official coverage,NaN,NaN,90.52
4,COUNTRIES,ABW,Aruba,2023.0,DIPHCV5,"Diphtheria-containing vaccine, 5th dose (2nd b...",ADMIN,Administrative coverage,1219.0,1008.0,82.69

In [5]:
incidence_rate_df.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,"per 1,000,000 total population",NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0

In [6]:
reported_cases_df.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,1.0
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,0.0

In [7]:
vaccine_introduction_df.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
0,AFG,Afghanistan,EMRO,2023.0,aP (acellular pertussis) vaccine,No
1,AFG,Afghanistan,EMRO,2023.0,Hepatitis A vaccine,No
2,AFG,Afghanistan,EMRO,2023.0,Hepatitis B vaccine,Yes
3,AFG,Afghanistan,EMRO,2023.0,HepB birth dose,Yes
4,AFG,Afghanistan,EMRO,2023.0,Hib (Haemophilus influenzae type B) vaccine,Yes

In [8]:
vaccine_schedule_df.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
0,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,1.0,NaN,General/routine,NATIONAL,M2,NaN
1,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,2.0,NaN,General/routine,NATIONAL,M4,NaN
2,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,3.0,NaN,General/routine,NATIONAL,M6,NaN
3,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,4.0,B_2YL_W,General/routine,NATIONAL,M15,NaN
4,ABW,Aruba,AMRO,2023.0,DTAPIPV,DTaP-IPV (acellular) vaccine,5.0,B_CHILD_W,General/routine,NATIONAL,Y4,NaN

In [9]:
# Dataset Columns
print("Coverage Data: ",coverage_df.columns)
print("Incidence Rate Data: ",incidence_rate_df.columns)
print("Reported Cases Data: ",reported_cases_df.columns)
print("Vaccine Introduction Data: ",vaccine_introduction_df.columns)
print("Vaccine Schedule Data: ",vaccine_schedule_df.columns)

Coverage Data:  Index(['GROUP', 'CODE', 'NAME', 'YEAR', 'ANTIGEN', 'ANTIGEN_DESCRIPTION',
       'COVERAGE_CATEGORY', 'COVERAGE_CATEGORY_DESCRIPTION', 'TARGET_NUMBER',
       'DOSES', 'COVERAGE'],
      dtype='object')
Incidence Rate Data:  Index(['GROUP', 'CODE', 'NAME', 'YEAR', 'DISEASE', 'DISEASE_DESCRIPTION',
       'DENOMINATOR', 'INCIDENCE_RATE'],
      dtype='object')
Reported Cases Data:  Index(['GROUP', 'CODE', 'NAME', 'YEAR', 'DISEASE', 'DISEASE_DESCRIPTION',
       'CASES'],
      dtype='object')
Vaccine Introduction Data:  Index(['ISO_3_CODE', 'COUNTRYNAME', 'WHO_REGION', 'YEAR', 'DESCRIPTION',
       'INTRO'],
      dtype='object')
Vaccine Schedule Data:  Index(['ISO_3_CODE', 'COUNTRYNAME', 'WHO_REGION', 'YEAR', 'VACCINECODE',
       'VACCINE_DESCRIPTION', 'SCHEDULEROUNDS', 'TARGETPOP',
       'TARGETPOP_DESCRIPTION', 'GEOAREA', 'AGEADMINISTERED', 'SOURCECOMMENT'],
      dtype='object')

In [10]:
# Dimension of dataset
print("Coverage Data: ",coverage_df.shape)
print("Incidence Rate Data: ",incidence_rate_df.shape)
print("Reported Cases Data: ",reported_cases_df.shape)
print("Vaccine Introduction Data: ",vaccine_introduction_df.shape)
print("Vaccine Schedule Data: ",vaccine_schedule_df.shape)

Coverage Data:  (399859, 11)
Incidence Rate Data:  (84946, 8)
Reported Cases Data:  (84870, 7)
Vaccine Introduction Data:  (138321, 6)
Vaccine Schedule Data:  (8053, 12)

#### Handling Missing Values

##### Coverage Data

In [11]:
# Coverage Data Null Values
coverage_df.isnull().sum()

GROUP                                 0
CODE                                  1
NAME                               1275
YEAR                                  1
ANTIGEN                               1
ANTIGEN_DESCRIPTION                   1
COVERAGE_CATEGORY                     1
COVERAGE_CATEGORY_DESCRIPTION         1
TARGET_NUMBER                    320829
DOSES                            320532
COVERAGE                         169382
dtype: int64

In [12]:
# Drop rows with critical missing small counts
coverage_df = coverage_df.dropna(subset=[
    'CODE', 'NAME', 'YEAR',
    'ANTIGEN', 'ANTIGEN_DESCRIPTION',
    'COVERAGE_CATEGORY', 'COVERAGE_CATEGORY_DESCRIPTION'
])

# Drop unnecessary high-missing columns
coverage_df = coverage_df.drop(columns=['DOSES', 'TARGET_NUMBER'])

# Impute COVERAGE using group median safely
coverage_df['COVERAGE'] = coverage_df.groupby(['ANTIGEN', 'YEAR'])['COVERAGE']\
    .transform(lambda x: x.fillna(x.median()) if x.notna().any() else x)

# Fill remaining NaNs with global median
coverage_df['COVERAGE'] = coverage_df['COVERAGE'].fillna(coverage_df['COVERAGE'].median())

print("Remaining null values:\n", coverage_df.isna().sum())
print("Final shape:", coverage_df.shape)

Remaining null values:
 GROUP                            0
CODE                             0
NAME                             0
YEAR                             0
ANTIGEN                          0
ANTIGEN_DESCRIPTION              0
COVERAGE_CATEGORY                0
COVERAGE_CATEGORY_DESCRIPTION    0
COVERAGE                         0
dtype: int64
Final shape: (398584, 9)

##### Incidence Rate Data

In [13]:
# Incidence Rate Data Null Values
incidence_rate_df.isnull().sum()

GROUP                      0
CODE                       1
NAME                       1
YEAR                       1
DISEASE                    1
DISEASE_DESCRIPTION        1
DENOMINATOR                1
INCIDENCE_RATE         23362
dtype: int64

In [14]:
# Drop rows with critical missing values
incidence_rate_df = incidence_rate_df.dropna(subset=[
    'CODE', 'NAME', 'YEAR', 'DISEASE', 'DISEASE_DESCRIPTION', 'DENOMINATOR'
])

# Impute INCIDENCE_RATE using group median safely
incidence_rate_df['INCIDENCE_RATE'] = incidence_rate_df.groupby(['DISEASE', 'YEAR'])['INCIDENCE_RATE']\
    .transform(lambda x: x.fillna(x.median()) if x.notna().any() else x)

# Fill remaining NaNs with global median
incidence_rate_df['INCIDENCE_RATE'] = incidence_rate_df['INCIDENCE_RATE'].fillna(incidence_rate_df['INCIDENCE_RATE'].median())

print("Remaining null values:\n", incidence_rate_df.isna().sum())
print("Final shape:", incidence_rate_df.shape)

Remaining null values:
 GROUP                  0
CODE                   0
NAME                   0
YEAR                   0
DISEASE                0
DISEASE_DESCRIPTION    0
DENOMINATOR            0
INCIDENCE_RATE         0
dtype: int64
Final shape: (84945, 8)

##### Reported Cases Data

In [15]:
# Reported Case Data Nul Values
reported_cases_df.isnull().sum()

GROUP                      0
CODE                       1
NAME                       1
YEAR                       1
DISEASE                    1
DISEASE_DESCRIPTION        1
CASES                  19400
dtype: int64

In [16]:
# Drop rows with critical missing values
reported_cases_df = reported_cases_df.dropna(subset=[
    'CODE', 'NAME', 'YEAR', 'DISEASE', 'DISEASE_DESCRIPTION'
])

# Impute CASES using group median safely
reported_cases_df['CASES'] = reported_cases_df.groupby(['DISEASE', 'YEAR'])['CASES']\
    .transform(lambda x: x.fillna(x.median()) if x.notna().any() else x)

# Fill remaining NaNs with global median
reported_cases_df['CASES'] = reported_cases_df['CASES'].fillna(reported_cases_df['CASES'].median())

print("Remaining null values:\n", reported_cases_df.isna().sum())
print("Final shape:", reported_cases_df.shape)

Remaining null values:
 GROUP                  0
CODE                   0
NAME                   0
YEAR                   0
DISEASE                0
DISEASE_DESCRIPTION    0
CASES                  0
dtype: int64
Final shape: (84869, 7)

##### Vaccine Introduction Data

In [17]:
# Vaccine Introduction Data Null Values
vaccine_introduction_df.isnull().sum()

ISO_3_CODE     0
COUNTRYNAME    1
WHO_REGION     1
YEAR           1
DESCRIPTION    1
INTRO          1
dtype: int64

In [18]:
# Drop rows with missing values in key columns
vaccine_introduction_df = vaccine_introduction_df.dropna(subset=[
    'COUNTRYNAME', 'WHO_REGION', 'YEAR', 'DESCRIPTION', 'INTRO'
])

print("Remaining null values:\n", vaccine_introduction_df.isna().sum())
print("Final shape:", vaccine_introduction_df.shape)

Remaining null values:
 ISO_3_CODE     0
COUNTRYNAME    0
WHO_REGION     0
YEAR           0
DESCRIPTION    0
INTRO          0
dtype: int64
Final shape: (138320, 6)

##### Vaccine Schedule Data

In [19]:
# Vaccine Schedule Data Null Values
vaccine_schedule_df.isnull().sum()

ISO_3_CODE                  0
COUNTRYNAME                 1
WHO_REGION                  1
YEAR                        1
VACCINECODE                 1
VACCINE_DESCRIPTION         1
SCHEDULEROUNDS              1
TARGETPOP                4258
TARGETPOP_DESCRIPTION       1
GEOAREA                    31
AGEADMINISTERED          1046
SOURCECOMMENT            2914
dtype: int64

In [20]:
# Drop rows where critical info is missing
vaccine_schedule_df = vaccine_schedule_df.dropna(subset=[
    'COUNTRYNAME', 'WHO_REGION', 'YEAR',
    'VACCINECODE', 'VACCINE_DESCRIPTION',
    'SCHEDULEROUNDS', 'TARGETPOP_DESCRIPTION'
])

# Fill categorical missing values
vaccine_schedule_df['TARGETPOP'] = vaccine_schedule_df['TARGETPOP'].fillna("Unknown")
vaccine_schedule_df['AGEADMINISTERED'] = vaccine_schedule_df['AGEADMINISTERED'].fillna("Not Specified")
vaccine_schedule_df['GEOAREA'] = vaccine_schedule_df['GEOAREA'].fillna("Not Specified")

# Drop SOURCECOMMENT
vaccine_schedule_df = vaccine_schedule_df.drop(columns=['SOURCECOMMENT'])


print("Remaining null values:\n", vaccine_schedule_df.isna().sum())
print("Final shape:", vaccine_schedule_df.shape)

Remaining null values:
 ISO_3_CODE               0
COUNTRYNAME              0
WHO_REGION               0
YEAR                     0
VACCINECODE              0
VACCINE_DESCRIPTION      0
SCHEDULEROUNDS           0
TARGETPOP                0
TARGETPOP_DESCRIPTION    0
GEOAREA                  0
AGEADMINISTERED          0
dtype: int64
Final shape: (8052, 11)

#### Normalizing Units

In [21]:
# Coverage Data Normalization
coverage_df['COVERAGE'] = coverage_df['COVERAGE'].clip(lower=0, upper=100)

# Incidence Rate Data Normalization
incidence_cap = incidence_rate_df['INCIDENCE_RATE'].quantile(0.99)
incidence_rate_df['INCIDENCE_RATE'] = incidence_rate_df['INCIDENCE_RATE'].clip(lower=0, upper=incidence_cap)

# Vaccine Introduction Data Normalization
vaccine_introduction_df['INTRO'] = vaccine_introduction_df['INTRO'].replace({
    'Yes (R)': 'Yes',
    'Yes (P)': 'Yes',
    'Yes (A)': 'Yes',
    'Yes (O)': 'Yes',
    'Yes (D)': 'Yes'
})

In [22]:
# Function to normalize AGEADMINISTERED into months
def normalize_age(age):
    if pd.isna(age):
        return None

    age = str(age).strip()

    # Skip ranges like "15-Y49"
    if "-" in age:
        return None

    try:
        if age.startswith('M'):
            return float(age[1:])

        if age.startswith('Y'):
            return float(age[1:]) * 12

        if age.startswith('+M'):
            return float(age[2:])

        if age.startswith('+Y'):
            return float(age[2:]) * 12
    except:
        return None

    return None

# Apply normalization to dataset
vaccine_schedule_df['AGEADMINISTERED_MONTHS'] = (
    vaccine_schedule_df['AGEADMINISTERED']
    .apply(normalize_age)
)

#### Date Consistency

In [23]:
# Convert the years to integers
for df in [coverage_df, incidence_rate_df, reported_cases_df]:
    df['YEAR'] = df['YEAR'].astype(int)

### SQL Database Setup

In [116]:
# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Aries@123",
)

In [117]:
# Create Cursor
cursor = conn.cursor()

In [118]:
# Create VACCINE Database
cursor.execute("CREATE DATABASE IF NOT EXISTS VACCINE")
cursor.execute("USE VACCINE")

In [119]:
# Replace NaN with None for MySQL compatibility
coverage_df = coverage_df.where(pd.notnull(coverage_df), None)
incidence_rate_df = incidence_rate_df.where(pd.notnull(incidence_rate_df), None)
reported_cases_df = reported_cases_df.where(pd.notnull(reported_cases_df), None)
vaccine_introduction_df = vaccine_introduction_df.where(pd.notnull(vaccine_introduction_df), None)
vaccine_schedule_df = vaccine_schedule_df.where(pd.notnull(vaccine_schedule_df), None)

#### Create Dimension Tables

In [120]:
# Dim Country
cursor.execute("""
CREATE TABLE IF NOT EXISTS dim_country (
    CODE VARCHAR(50) PRIMARY KEY,
    NAME VARCHAR(255),
    GROUPNAME VARCHAR(100)
)
""")

# Dim Vaccine
cursor.execute("""
CREATE TABLE IF NOT EXISTS dim_vaccine (
    VACCINECODE VARCHAR(50) PRIMARY KEY,
    VACCINEDESCRIPTION VARCHAR(255)
)
""")

# Dim Disease
cursor.execute("""
CREATE TABLE IF NOT EXISTS dim_disease (
    DISEASE VARCHAR(50) PRIMARY KEY,
    DISEASE_DESCRIPTION VARCHAR(255)
)
""")
conn.commit()

#### Create Fact Tables

In [121]:
# Fact Coverage
cursor.execute("""
CREATE TABLE IF NOT EXISTS fact_coverage (
    COUNTRYCODE VARCHAR(50),
    YEAR INT,
    VACCINECODE VARCHAR(50),
    COVERAGE_CATEGORY VARCHAR(50),
    COVERAGE FLOAT,
    PRIMARY KEY(COUNTRYCODE, YEAR, VACCINECODE, COVERAGE_CATEGORY),
    FOREIGN KEY(COUNTRYCODE) REFERENCES dim_country(CODE),
    FOREIGN KEY(VACCINECODE) REFERENCES dim_vaccine(VACCINECODE)
)
""")

# Fact Incidence
cursor.execute("""
CREATE TABLE IF NOT EXISTS fact_incidence (
    COUNTRYCODE VARCHAR(50),
    YEAR INT,
    DISEASE VARCHAR(50),
    INCIDENCE_RATE FLOAT,
    PRIMARY KEY(COUNTRYCODE, YEAR, DISEASE),
    FOREIGN KEY(COUNTRYCODE) REFERENCES dim_country(CODE),
    FOREIGN KEY(DISEASE) REFERENCES dim_disease(DISEASE)
)
""")

# Fact Vaccine Schedule
cursor.execute("""
CREATE TABLE IF NOT EXISTS fact_vaccine_schedule (
    COUNTRYCODE VARCHAR(50),
    YEAR INT,
    VACCINECODE VARCHAR(50),
    SCHEDULEROUNDS INT,
    TARGETPOP VARCHAR(50),
    AGEADMINISTERED_MONTHS FLOAT,
    GEOAREA VARCHAR(50),
    PRIMARY KEY(COUNTRYCODE, YEAR, VACCINECODE, SCHEDULEROUNDS),
    FOREIGN KEY(COUNTRYCODE) REFERENCES dim_country(CODE),
    FOREIGN KEY(VACCINECODE) REFERENCES dim_vaccine(VACCINECODE)
)
""")

# Fact Vaccine Introduction
cursor.execute("""
CREATE TABLE IF NOT EXISTS fact_vaccine_introduction (
    COUNTRYCODE VARCHAR(50),
    YEAR INT,
    VACCINECODE VARCHAR(50),
    INTRO VARCHAR(20),
    PRIMARY KEY(COUNTRYCODE, YEAR, VACCINECODE),
    FOREIGN KEY(COUNTRYCODE) REFERENCES dim_country(CODE),
    FOREIGN KEY(VACCINECODE) REFERENCES dim_vaccine(VACCINECODE)
)
""")
conn.commit()

#### Insert into Dimension Tables

In [122]:
# Dim Country
for _, row in coverage_df[['CODE','NAME','GROUP']].drop_duplicates().iterrows():
    try:
        cursor.execute("""
            INSERT INTO dim_country (CODE, NAME, GROUPNAME)
            SELECT %s, %s, %s FROM DUAL
            WHERE NOT EXISTS (
                SELECT 1 FROM dim_country WHERE CODE=%s
            )
        """, (row['CODE'], row['NAME'], row['GROUP'], row['CODE']))
    except mysql.connector.Error as e:
        print(f"Country insert error: {e}")

# Dim Vaccine
vaccine_all = pd.concat([
    coverage_df[['ANTIGEN','ANTIGEN_DESCRIPTION']].rename(columns={'ANTIGEN':'VACCINECODE','ANTIGEN_DESCRIPTION':'VACCINEDESCRIPTION'}),
    vaccine_schedule_df[['VACCINECODE','VACCINE_DESCRIPTION']].rename(columns={'VACCINE_DESCRIPTION':'VACCINEDESCRIPTION'})
]).drop_duplicates()

for _, row in vaccine_all.iterrows():
    try:
        if pd.notna(row['VACCINECODE']) and pd.notna(row['VACCINEDESCRIPTION']):
            cursor.execute("""
                INSERT INTO dim_vaccine (VACCINECODE, VACCINEDESCRIPTION)
                SELECT %s, %s FROM DUAL
                WHERE NOT EXISTS (
                    SELECT 1 FROM dim_vaccine WHERE VACCINECODE=%s
                )
            """, (row['VACCINECODE'], row['VACCINEDESCRIPTION'], row['VACCINECODE']))
    except mysql.connector.Error as e:
        print(f"Vaccine insert error: {e}")

# Dim Disease
disease_all = pd.concat([incidence_rate_df[['DISEASE','DISEASE_DESCRIPTION']],
                         reported_cases_df[['DISEASE','DISEASE_DESCRIPTION']]]).drop_duplicates()
for _, row in disease_all.iterrows():
    try:
        cursor.execute("""
            INSERT INTO dim_disease (DISEASE, DISEASE_DESCRIPTION)
            SELECT %s, %s FROM DUAL
            WHERE NOT EXISTS (
                SELECT 1 FROM dim_disease WHERE DISEASE=%s
            )
        """, (row['DISEASE'], row['DISEASE_DESCRIPTION'], row['DISEASE']))
    except mysql.connector.Error as e:
        print(f"Disease insert error: {e}")

conn.commit()

#### Insert Into Fact Tables

In [123]:
# Fact Coverage
for _, row in coverage_df.iterrows():
    try:
        cursor.execute("""
            INSERT INTO fact_coverage (COUNTRYCODE, YEAR, VACCINECODE, COVERAGE_CATEGORY, COVERAGE)
            SELECT %s,%s,%s,%s,%s FROM DUAL
            WHERE NOT EXISTS (
                SELECT 1 FROM fact_coverage
                WHERE COUNTRYCODE=%s AND YEAR=%s AND VACCINECODE=%s AND COVERAGE_CATEGORY=%s
            )
        """, (row['CODE'], row['YEAR'], row['ANTIGEN'], row['COVERAGE_CATEGORY'], row['COVERAGE'],
              row['CODE'], row['YEAR'], row['ANTIGEN'], row['COVERAGE_CATEGORY']))
    except mysql.connector.Error as e:
        print(f"Coverage insert error: {e}")

# Fact Incidence
for _, row in incidence_rate_df.iterrows():
    try:
        cursor.execute("""
            INSERT INTO fact_incidence (COUNTRYCODE, YEAR, DISEASE, INCIDENCE_RATE)
            SELECT %s,%s,%s,%s FROM DUAL
            WHERE NOT EXISTS (
                SELECT 1 FROM fact_incidence
                WHERE COUNTRYCODE=%s AND YEAR=%s AND DISEASE=%s
            )
        """, (row['CODE'], row['YEAR'], row['DISEASE'], row['INCIDENCE_RATE'],
              row['CODE'], row['YEAR'], row['DISEASE']))
    except mysql.connector.Error as e:
        print(f"Incidence insert error: {e}")

conn.commit()

In [124]:
# Fact Vaccine Schedule
for _, row in vaccine_schedule_df.iterrows():
    try:
        age_months = row['AGEADMINISTERED_MONTHS']
        if pd.isna(age_months):
            age_months = None  # convert NaN to None for MySQL

        cursor.execute("""
            INSERT INTO fact_vaccine_schedule
            (COUNTRYCODE,YEAR,VACCINECODE,SCHEDULEROUNDS,TARGETPOP,AGEADMINISTERED_MONTHS,GEOAREA)
            SELECT %s,%s,%s,%s,%s,%s,%s FROM DUAL
            WHERE NOT EXISTS (
                SELECT 1 FROM fact_vaccine_schedule
                WHERE COUNTRYCODE=%s AND YEAR=%s AND VACCINECODE=%s AND SCHEDULEROUNDS=%s
            )
        """, (
            row['ISO_3_CODE'], row['YEAR'], row['VACCINECODE'], row['SCHEDULEROUNDS'],
            row['TARGETPOP'], age_months, row['GEOAREA'],
            row['ISO_3_CODE'], row['YEAR'], row['VACCINECODE'], row['SCHEDULEROUNDS']
        ))
    except mysql.connector.Error as e:
        print(f"Vaccine schedule insert error: {e}")


# Fact Vaccine Introduction
# Merge with dim_vaccine to ensure FK safety
vaccine_intro_merged = pd.merge(vaccine_introduction_df, vaccine_all, left_on='DESCRIPTION', right_on='VACCINEDESCRIPTION', how='inner')

for _, row in vaccine_intro_merged.iterrows():
    try:
        cursor.execute("""
            INSERT INTO fact_vaccine_introduction
            (COUNTRYCODE,YEAR,VACCINECODE,INTRO)
            SELECT %s,%s,%s,%s FROM DUAL
            WHERE NOT EXISTS (
                SELECT 1 FROM fact_vaccine_introduction
                WHERE COUNTRYCODE=%s AND YEAR=%s AND VACCINECODE=%s
            )
        """, (row['ISO_3_CODE'], row['YEAR'], row['VACCINECODE'], row['INTRO'],
              row['ISO_3_CODE'], row['YEAR'], row['VACCINECODE']))
    except mysql.connector.Error as e:
        print(f"Vaccine introduction insert error: {e}")

conn.commit()